<div class="form-div">
    <%# Login %>
    <h1 class="login-title"><%= title %></h1>
    <%- messages() %>

    <form class="form" action="/account/login" method="post">
        <label for="account_email">Email Address</label>
        <input 
            type="email"
            name="account_email"
            id="account_email"
            required
        ><br><br>

        <label for="account_password">Password</label>
        <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span> 
        <input 
            type="password"
            name="account_password"
            id="account_password"
            required
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
        ><br><br>

        <button type="submit">Login</button>
    </form>

    <p class="form-link">No account? <a href="/account/register">Sign-up</a></p>
</div>