<div class="search-wrapper">
  <form class="searchForm" action="/inv/search" method="get">
      <input 
        type="text" 
        name="term" 
        id="term"
        required
        minlength="2"
        placeholder="Search vehicle by make or model"
      >
      <button type="submit">Search</button>
  </form>
</div>
