<section class="home">
    <h1>Welcome to CSE Motors!</h1>
    <%- messages() %>
    
        <div class="details">
            <div class="hero">
                <div class="hero-details">
                    <h2>DMC Delorean</h2>
                    <ul>
                        <li>3 Cups holders</li>
                        <li>Superman doors</li>
                        <li>Fuzzy dice!</li>
                    </ul>
                    <a class="button-nav" href="#">Own Today!</a>
                </div>
            </div>

            <div class="hero-img">
                <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
            </div>
        </div>

        <div class="content">
            <div class="upgrades">
                <h2>Delorean Upgrades</h2>
                <div class="upgrades-photos">
                    <figure>
                        <div class="img-box">
                            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                        </div>
                        <figcaption><a href="#">Flux Capacitor</a></figcaption>
                    </figure>
                    <figure>
                        <div class="img-box">
                            <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                        </div>
                        <figcaption><a href="#">Flame Decals</a></figcaption>
                    </figure>
                    <figure>
                        <div class="img-box">
                            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumpers Stickers">
                        </div>
                        <figcaption><a href="#">Bumper Stickers</a></figcaption>
                    </figure>
                    <figure>
                        <div class="img-box">
                            <img src="/images/upgrades/hub-cap.jpg" alt="Hubs Caps">
                        </div>
                        <figcaption><a href="#">Hubs Caps</a></figcaption>
                    </figure>
                </div>
            </div>

            <div class="reviews">
                <h2>DMC Delorean Reviews</h2>
                <ul>
                    <li>"So fast it's almost like traveling in time." (4/5)</li>
                    <li>"Coolest ride on the road." (4/5)</li>
                    <li>"I'm feeling McFly!!" (5/5)</li>
                    <li>"The most futuristic ride of our day." (4.5/5)</li>
                    <li>"80's livin and I love it!" (5/5)</li>
                </ul>
            </div>
        </div>
</section>