/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --font-primary : "Radley", sans-serif;
  --font-secundary : "Open Sans", sans-serif;
}

/******* Body ***************/
body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: var(--font-primary);
}

a, li, p {
  font-family: var(--font-secundary);
}

/******* Wrapper (solo visible en desktop) ***************/
#wrapper {
  background-color: white;
}

/******* Header ***************/
#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.siteName a {
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

#tools a {
  color: black;
  text-decoration: none;
  font-size: 13px;
}

/******* Navigation ***************/
.navigation {
  background-color: black;
  margin: 0 1rem;
}

.navigation ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  flex: 1;
  text-align: center;
}

.navigation a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.4rem;
  font-family: var(--font-primary);
}

/******* Home ***************/
.home h1 {
  margin-left: 1rem;
}

/******* Hero ***************/
.hero {
  position: relative;
  margin-left: 10px;
}

.hero-details {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 6px;
  padding: 0.4rem;
  color: #084750;
  top: 5%;
  left: 1%;
  max-width: 200px;
  font-size: 0.85rem;
  font-family: var(--font-secundary);
}

.hero-details a {
  background-color: #084750;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-top: 0.3rem;
  font-family: var(--font-secundary);
}

/******* Hero Image ***************/
.hero-img img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}

/******* Content (mobile first) ***************/
.content {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "upgrades"
    "reviews";
  gap: 1rem;
}

.upgrades {
  grid-area: upgrades;
}

.reviews {
  grid-area: reviews;
}

/******* Upgrades ***************/
.upgrades-photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.upgrades-photos figure {
  margin: 0;
}

.img-box {
  background-color: #084750;
  aspect-ratio: 3 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-box img {
  max-width: 80%;
  height: auto;
}

/******* Reviews ***************/
.reviews ul li {
  margin-bottom: 1.5rem;
}


/** grid for vehicles nav **/
.title-vehicle {
  margin-left: 1rem;
}

#inv-display {
  max-width: 100%;
  list-style: none;
  padding: 0;
  margin: 2rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin: 1rem;
}

#inv-display li {
  background-color: #084750;
  text-decoration: none;
  border-radius: 6px;
  padding: 1rem;
  max-width: 100%;
}

#inv-display li a {
  display: flex;
  justify-content: center;
}
.namePrice {
  text-align: center;
}

.namePrice h2 a {
  text-decoration: none;
  color: #fff;
}

.namePrice span {
  color: #fff;
  font-size: 20px;
}

.price-vehicle {
  background-color: #265a33;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

/********** ERROR PAGE *******************/
.error-title {
  text-align: center;
}

.error-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.error-text p {
  font-size: 15px;
}

.error-image img {
  max-width: 250px;
  width: 100%;
  height: auto;
}

.error-500 {
  margin: 1rem;
}

/******** Vehicle Detail View ********/
.only-vehicle {
  margin-left: 1rem;
}

.detail-container {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 10px;
  border-radius: 6px;
  background-color: #e9e9e9;
}

.detail-image img {
  width: 100%;
  border-radius: 6px;
}

.detail-info h2 {
  margin-top: 0;
  font-family: var(--font-primary);
  font-size: 30px;
}

.detail-info h3 {
  font-size: 20px;
  font-family: var(--font-secundary);
  background-color: #084750;
  padding: 4px;
  color: #fff;
}

.detail-info p {
  margin-bottom: 0.5rem;
}


/********* FORM ************/
.form-div {
  width: 90%;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #084750;
  border-radius: 6px;
}

.form-div h1 {
  text-align: center;
  color: #fff;
  font-family: var(--font-primary);
}

#messages {
  color: #fff;
  font-family: var(--font-secundary);
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  color: #fff;
  font-size: 1rem;
  font-family: var(--font-secundary);
}

.form input {
  padding: 0.5rem;
  border-radius: 6px;
}


.form input:valid {
  border-right: 6px solid green;
}

.form input:invalid {
  border-right: 6px solid red;
}

.form button {
  font-size: 1.1rem;
  padding: 0.5rem;
  background-color: #265a33;
  color: #fff;
  width: 200px;
  font-family: var(--font-secundary);
  border-radius: 50px;
  border: 1px solid #000;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.form-link {
  text-align: center;
  margin-top: 1rem;
  font-size: 1rem;
  color: #fff;
}

.form-link a {
  color: #a2d8e0;
}

span {
  color: #fc9e9e;
  font-family: var(--font-secundary);
  font-size: 12px;
}

/************* REGISTER FORM **************/
.register-part {
  width: 90%;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #084750;
  border-radius: 6px;
}

.register-part h1 {
  text-align: center;
  color: #fff;
  font-family: var(--font-primary);
}

.form-register {
  display: flex;
  flex-direction: column;
}

.form-register label {
  color: #fff;
  font-size: 1rem;
  font-family: var(--font-secundary);
}

.form-register input {
  border-radius: 6px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.passwordDiv {
  position: relative;
  width: 100%;
}

.passwordDiv input {
  width: 100%;
  padding-right: 2rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

#passwordBtn {
  position: absolute;
  right: 10px;
  top: 30%;
  font-size: 1.2rem;
  transform: translateY(-60%);
  cursor: pointer;
  user-select: none;
}

.form-register input:valid {
  border-right: 6px solid #265a33;
}

.form-register input:invalid {
  border-right: 6px solid red;
}

.btnRegister {
  font-size: 1.1rem;
  padding: 0.5rem;
  background-color: #265a33;
  color: #fff;
  width: 200px;
  font-family: var(--font-secundary);
  border-radius: 50px;
  border: 1px solid #000;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

/***************** MANAGEMENT ****************************/
.inv-class-part {
  max-width: 100%;
}

.inv-class-part h1 {
  font-family: var(--font-primary);
  text-align: center;
}

.inv-class-part h2, p {
  font-family: var(--font-primary);
  margin-left: 1rem;
  max-width: 100%;
}

#classificationList {
  margin-left: 1rem;
}

#inventoryDisplay {
  margin: 1rem;
  max-width: 95%;
}

#inventoryDisplay th,
#inventoryDisplay td {
  border: 1px solid #084750;
  padding: 0.5rem;
  text-align: left;
  font-family: var(--font-secundary);
}

#inventoryDisplay thead {
  background-color: #f4f4f4;
}

#inventoryDisplay tr:nth-child(even) {
  background-color: #fafafa;
}

#inventoryDisplay a {
  color: #084750;
  text-decoration: none;
}

#inventoryDisplay a:hover {
  text-decoration: underline;
}

/*********** FORM ADD- CLASSIFICATION *************/
.add-classification {
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 6px;
}

#messages {
  max-width: 50%;
  color: #000;
}

.add-classification h1 {
  text-align: center;
  font-family: var(--font-primary);
}

.form-classification {
  display: flex;
  flex-direction: column;
  background-color: #084750;
  padding: 1rem;
  border-radius: 6px;
  color: #fff;
}

.form-classification span label {
  font-family: var(--font-secundary);
  font-size: 15px;
}

.form-classification input {
  border-radius: 6px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.btn-addClass {
  font-size: 1.1rem;
  padding: 0.5rem;
  background-color: #265a33;
  color: #fff;
  width: 200px;
  font-family: var(--font-secundary);
  border-radius: 50px;
  border: 1px solid #000;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}
/*********** FORM ADD- INVENTORY *************/
.add-inventory {
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 6px;
}

.add-inventory h1 {
  font-family: var(--font-primary);
  text-align: center;
}

.form-addinv {
  background-color: #084750;
  padding: 1rem;
  border-radius: 6px;
  color: #fff;
}

.form-addinv legend {
  font-family: var(--font-primary);
  font-size: 20px;
}

.info-form-inv {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.info-form-inv label {
  font-family: var(--font-secundary);
  font-size: 15px;
}

.info-form-inv input, select {
  border-radius: 6px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.btn-addinv {
  font-size: 1.1rem;
  padding: 0.5rem;
  background-color: #265a33;
  color: #fff;
  width: 200px;
  font-family: var(--font-secundary);
  border-radius: 50px;
  border: 1px solid #000;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

/******* Footer ***************/
footer {
  margin-left: 1rem;
  margin-top: 3rem;
}



/*DESKTOP VERSION*/
@media screen and (min-width: 768px) {

  body {
    background-image: url("/images/site/checkerboard.jpg");
  }

  #wrapper {
    max-width: 960px;
    margin: 1rem auto;
    border: 5px solid #084750;
    border-radius: 8px;
  }

  .navigation a:hover {
    background-color: #084750;
  }

  .hero-details {
    top: 1.5rem;
    left: 7rem;
    font-size: 1rem;
  }

  .hero-img img {
    max-width: 100%;
  }

  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "upgrades reviews";
  }

  .detail-container {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  .detail-image {
    margin: 0 auto;
  }

  .form-div {
    max-width: 400px;
  }

  .register-part {
    max-width: 400px;
  }

  .add-classification{
    max-width: 400px;
  }

  .add-inventory {
    max-width: 400px;
  }
}
