<%# Error Page Heading %>
<h1><%= title %></h1>

<div class="error-wrapper">
  
  <div class="error-text">
    <%# Error Message %>
    <p class="notice">
      <%- message %>
    </p>

    <%# Humor %>
    <p>AWWWW… don't cry 😢</p>
    <p>It's just a 404 Error!</p>
  </div>

  <div class="error-image">
    <img 
      src="/images/insideup/saddness.png"
      alt="Sadness from Inside Out"
    >
  </div>

</div>
